@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BannerArt!</h1>
    <p>Your One-Stop Shop for Unique and Custom Flags</p>
    <a class="cat-link  text-dark" asp-area="" asp-controller="Flags" asp-action="Create">Get Started</a>
</div>
<br />
<h2>Checkout our Trending Designs!</h2>
<div class="card-columns">                          <!-Trending Designs on homepage->
    <div class="card">
        <div class="card-img" style="background-image:url('/img/f1.jpeg')" ;></div>
        <div class="card-body"><h5>Designer: Josh</h5></div>
    </div>
    <div class="card">
        <div class="card-img" style="background-image:url('/img/f2.jpeg')" ;></div>
        <div class="card-body"><h5>Designer: Robin</h5></div>
    </div>
    <div class="card">
        <div class="card-img" style="background-image:url('/img/f3.jpeg')" ;></div>
        <div class="card-body"><h5>Designer: Maria</h5></div>
    </div>
    <div class="card">
        <div class="card-img" style="background-image:url('/img/f4.jpeg')" ;></div>
        <div class="card-body"><h5>Designer: Chloe</h5></div>
    </div>
    <div class="card">
        <div class="card-img" style="background-image:url('/img/f5.jpeg')" ;></div>
        <div class="card-body"><h5>Designer: Marla</h5></div>
    </div>
    <div class="card">
        <div class="card-img" style="background-image:url('/img/f6.jpeg')" ;></div>
        <div class="card-body"><h5>Designer: Sam</h5></div>
    </div>
</div>